.App {
  text-align: center;
}

.background-image{
  background-image: url('./petals white overlay 4 square.png'), url('./woman blur.png');
  background-blend-mode: normal;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-color: #FFF;
  height: 99vh;
  background-position: center center;
}